.app-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  border-radius: 10px;
  animation: slideInUp 0.5s ease-in-out;
}

@keyframes slideInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.app h1 {
  text-align: justify;
  margin-bottom: 20px;
  color: #007bff;
}

.search-bar {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.search-bar:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

